[submodule "umps2"]
	path = umps2
	url = https://aur.archlinux.org/umps2.git
[submodule "umps2-git"]
	path = umps2-git
	url = https://aur.archlinux.org/umps2-git.git
[submodule "umps3"]
	path = umps3
	url = https://aur.archlinux.org/umps3.git
[submodule "umps3-git"]
	path = umps3-git
	url = https://aur.archlinux.org/umps3-git.git
[submodule "deber"]
	path = deber
	url = https://aur.archlinux.org/deber.git
[submodule "deber-git"]
	path = deber-git
	url = https://aur.archlinux.org/deber-git.git
